/* custom.css */

/* Botones */
.btn-primary {
  --bs-btn-bg: var(--primary);
  --bs-btn-border-color: var(--primary);
  --bs-btn-hover-bg: var(--primary-hover);
  --bs-btn-hover-border-color: var(--primary-hover);
  --bs-btn-active-bg: var(--primary-active);
  --bs-btn-active-border-color: var(--primary-active);
}

/* Backgrounds */
.bg-primary {
  background-color: var(--primary) !important;
}

/* Textos */
.text-primary {
  color: var(--primary) !important;
}

/* Bordes */
.border-primary {
  border-color: var(--primary) !important;
}

/* Links */
.link-primary {
  color: var(--primary) !important;
}

.link-primary:hover {
  color: var(--primary-hover) !important;
}

/* Badges */
.badge.bg-primary {
  background-color: var(--primary) !important;
}

/* Nav Pills */
.nav-pills .nav-link.active {
  background-color: var(--primary) !important;
}

a {
    color: #000 !important;
    text-decoration: none;
}
a:hover {
    color: var(--color-hover-link)!important;
    text-decoration: none;
}

/* Alerts */
.alert-primary {
  background-color: rgba(var(--primary-rgb), 0.1) !important;
  border-color: var(--primary) !important;
  color: var(--primary) !important;
}

.text-dark:hover
 {
    color: var(--color-hover-link)!important;
}

